{% extends 'layouts/app.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h2>{{ PROJECT_NAME }}</h2>
                <p>
                    The {{ PROJECT_NAME }} is developed with the purpose and aim of providing an effective way for Stamp Duty Vendors to get rid of their paper works along with their big registrars for maintaining their records of stamp and transform them to a more digital way for their same work.
                </p>
                <p>
                    This will reduce time and efforts for vendors and will implement the ease of work environment.
                </p>
                <p>
                    The project is developed by following team members:
                    <ol>
                        <li>TEAM MEMBER 1</li>
						<li>TEAM MEMBER 2</li>
                    </ol>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}