<ul class="sidebar-menu">
    <li {% if 'dashboard' in request.path %} class="active" {% endif %}><a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-fire"></i> <span>Dashboard</span></a></li>
    <li {% if 'stamp' in request.path %} class="active" {% endif %}><a class="nav-link" href="{% url 'stamp-types' %}"><i class="fas fa-stamp"></i> <span>Stamps</span></a></li>
    <li {% if 'location' in request.path %} class="active" {% endif %}><a class="nav-link" href="{% url 'location-index' %}"><i class="fas fa-map-marked-alt"></i> <span>Location</span></a></li>
    <li {% if 'category' in request.path %} class="active" {% endif %}><a class="nav-link" href="{% url 'stamp-cats' %}"><i class="fas fa-list-ul"></i> <span>Category</span></a></li>
    <li {% if 'customers' in request.path %} class="active" {% endif %}><a class="nav-link" href="{% url 'customer-index' %}"><i class="fas fa-user"></i> <span>Customers</span></a></li>
    <li {% if 'purchase' in request.path %} class="active" {% endif %}><a class="nav-link" href="{% url 'purchase-index' %}"><i class="fas fa-box-open"></i> <span>Purchase</span></a></li>
    <li {% if 'sell' in request.path %} class="active" {% endif %}><a class="nav-link" href="{% url 'sell-index' %}"><i class="fas fa-rupee-sign"></i> <span>Sells</span></a></li>
    <li {% if 'about' in request.path %} class="active" {% endif %}><a class="nav-link" href="{% url 'about' %}"><i class="fas fa-info-circle"></i> <span>About</span></a></li>
    <!-- <li class="menu-header">Stamp</li>
    <li class="dropdown">
        <a href="#" class="nav-link has-dropdown"><i class="fas fa-th"></i> <span>Stamp</span></a>
        <ul class="dropdown-menu">
            <li><a class="nav-link" href="bootstrap-alert.html">Alert</a></li>
        </ul>
    </li> -->
    <!-- <li class="menu-header">Stisla</li> -->
</ul>